<div class="search-filter flex-row flex">
  <div
    class="border-gray-800 bg-lightPrimary w-[40%] h-[70px] rounded-lg drop-shadow-2xl flex my-12"
  >
    <div class="search place-content-center pl-8">
      <img class="size-6" src="/assets/search.png" alt="" />
    </div>
    <input
      (input)="onSearch($event)"
      class="saerch-text place-content-center pl-4 w-full border-none outline-none"
      type="text"
      placeholder="Search for a country..."
    />
  </div>
  <div
    class="h-[60px] border-gray-800 bg-lightPrimary rounded-lg drop-shadow-2xl my-12 ml-auto flex items-center justify-center"
  >
    <select
      (change)="onRegion($event)"
      class="filter w-full px-8 py-2 rounded-lg border-none bg-lightPrimary focus:outline-none"
      name="region"
      id="region"
    >
      <option class="rounded-lg" value="" disabled selected hidden>
        Filter by Region
      </option>
      <option value="Asia">Asia</option>
      <option value="Europe">Europe</option>
      <option value="Africa">Africa</option>
      <option value="Oceania">Oceania</option>
      <option value="Americas">Americas</option>
      <option value="Polar">Polar</option>
      <option value="Antarctic Ocean">Antarctic Ocean</option>
      <option value="Antarctic">Antarctic</option>
    </select>
  </div>
</div>
